# IDE 
.idea
.vscode

# MAC
.DS_Store

# DLang 
# Compiled Object files
*.o
*.obj

# Compiled Executable File
*.out

# macOS Application Bundle
*.app

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
