# MAC
.DS_Store

# IDE
.idea
.vscode

# DLang compiled object files
*.o
*.obj

# macOS Application Bundle
*.app

# Executables
*.exe

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Compiled Executable File
*.out

# Code coverage
*.lst

# DUB
.dub
docs.json
__dummy.html
dub.selections.json

# Also ignore:
*.ilk
*.pdb

coverage/
docs/

client.so
client.dylib
client.dll
client.a
client.lib
client-test-*

server.so
server.dylib
server.dll
server.a
server.lib
server-test-*
client/bin/client
server/bin/server
